<h3 class="page-header">{{ profileUsername }}'s Blogs</h3>
<div *ngFor="let blog of blogPosts">
  <div *ngIf="!blog.createdBy"> There are no blogs</div>
  <div [ngClass]=" username === blog.createdBy? 'panel panel-success' : 'panel panel-primary'" *ngIf="profileUsername === blog.createdBy">
    <div class="panel-heading">
      <h3 class="panel-title">{{ blog.title }}</h3>
    </div>
    <!-- Panel Body -->
    <div class="panel-body">
      {{ blog.body }}
    </div>
    <!-- Panel Footer Start -->
    <div class="panel-footer">
      Posted by <strong [routerLink]="['/user/', blog.createdBy]" class="cursor-pointer">{{ blog.createdBy }}</strong>
      <span> on </span>{{ blog.createdAt | date:'MMM dd, yyyy' }}
      <br />
      <div *ngIf="username === blog.createdBy">
        <strong>{{ blog.likes }} Likers:</strong>
        <span *ngFor="let liker of blog.likedBy"> <a [routerLink]="['/user/', liker]">{{ liker }}</a></span>
        <br />
        <strong>{{ blog.dislikes }} dislikers: </strong>
        <span *ngFor="let disliker of blog.dislikedBy"> <a [routerLink]="['/user/', disliker]">{{ disliker }}</a></span>
      </div>
      <!-- Edit Button -->
      <a [routerLink]="['/edit-blog/', blog._id]" *ngIf="username === blog.createdBy">
        <button type="button" name="button" class="btn btn-sm btn-default">Edit</button>
      </a>
      <!-- Delete Button -->
      <a [routerLink]="['/delete-blog/', blog._id]" *ngIf="username === blog.createdBy">
        <button type="button" name="button" class="btn btn-sm btn-danger">Delete</button>
      </a>
      <div class="dropdown">
        <!-- Like Button -->
        <button type="button" name="button" [ngClass]="blog.likedBy.includes(username)? 'btn btn-sm btn-primary' : 'btn btn-sm btn-default'" *ngIf="username !== blog.createdBy" (click)="likeBlog(blog._id)">
          <div class="glyphicon glyphicon-thumbs-up">&nbsp;</div>Likes: {{ blog.likes }}</button>
        <!-- Dropdown Menu Items -->
        <div class="dropdown-content">
          <a [routerLink]="['/user/', liker]" *ngFor="let liker of blog.likedBy">{{ liker }}</a>
        </div>
      </div>
      <!-- Dislikes Dropdown  -->
      <div class="dropdown">
        <!-- Dislike Button -->
        <button [ngClass]="blog.dislikedBy.includes(username)? 'btn btn-sm btn-danger' : 'btn btn-sm btn-default'" type="button" name="button" *ngIf="username !== blog.createdBy" (click)="dislikeBlog(blog._id)">
          <div class="glyphicon glyphicon-thumbs-down">&nbsp;</div>Dislikes: {{ blog.dislikes }}</button>
        <!-- Dropdown Menu Items -->
        <div class="dropdown-content">
          <a [routerLink]="['/user/',
disliker]" *ngFor="let disliker of blog.dislikedBy">{{ disliker }}</a>
        </div>
      </div>
    </div>
    <!-- Panel Footer End -->
    <!-- Post Comment Box: Start -->
    <ul class="list-group">
      <li class="list-group-item">
        <!-- Post Comment Button -->
        <button type="button" name="button" class="btn btn-sm btn-default" (click)="draftComment(blog._id)" [disabled]="newComment.indexOf(blog._id) > -1">Post Comment</button>
        <br />
        <div *ngIf="newComment.indexOf(blog._id) > -1">
          <!-- Form: Comment Form Start -->
          <form [formGroup]="commentForm">
            <!-- Textarea Input -->
            <textarea name="comment" rows="10" cols="30" class="form-control" formControlName="comment"></textarea>
            <!-- Validation -->
            <div [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
              <ul class="help-block">
                <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This field is required.</li>
                <li *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">Comment must be at least 1 character but no more than 200.</li>
              </ul>
            </div>
            <!-- Post Button -->
            <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-success" (click)="postComment(blog._id)">Post</button>
            <!-- Cancel Button -->
            <button [disabled]="processing" type="button" name="button" class="btn btn-sm btn-danger" (click)="cancelSubmission(blog._id)">Cancel</button>
          </form>
          <!-- Form: Comment Form End -->
        </div>
        <!-- Show Comments -->
        <li *ngIf="enabledComments.indexOf(blog._id) === -1 && blog.comments.length > 0" class="list-group-item">
          <span (click)="expand(blog._id)" class="cursor-pointer">
            Show comments&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </span>
        </li>
        <!-- Hide Comments -->
        <li *ngIf="enabledComments.indexOf(blog._id) > -1" class="list-group-item">
          <span (click)="collapse(blog._id)" class="cursor-pointer">
            Hide Comments&nbsp;
            <div class="glyphicon glyphicon-comment"></div>
          </span>
        </li>
        <!-- Comment -->
        <div *ngIf="enabledComments.indexOf(blog._id) > -1">
          <li *ngFor="let comment of blog.comments" class="list-group-item">
            <strong [routerLink]="['/user/', comment.commentator]" class="cursor-pointer">{{ comment.commentator }}:</strong> {{ comment.comment }}
          </li>
        </div>
    </ul>
  </div>
</div>
